phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
streamlit
pandas
plotly
googlesearch-python
pycountry
langchain_openai
langchain_community
langchain
fuzzywuzzy
ollama
pgvector